.vscode
*.bak
data
*.pyc
*/*.pyc
data.tgz
stats_detailed.ipynb
results/dummy_scorings.txt
results/trees_v3.json
results/trees_with_setups.json
results/db.sqlite
results/db.sqlite.bak
results/scores.sqlite
results/scores.sqlite.bak
